.splide-marquee {
  &__item {
    margin: 0 8rem;

    @media (max-width: $md) {
      margin: 0 4rem;
    }
  }

  &__img {
    &--about {
      width: 37.1rem;
      height: 9.8rem;
    }

    &--catalog {
      width: 40.9rem;
      height: 9.8rem;
    }

    &--application {
      width: 81.6rem;
      height: 9.8rem;
    }

    &--projects {
      width: 43.4rem;
      height: 9.8rem;
    }

    &--blog {
      width: 23.7rem;
      height: 9.8rem;
    }
  }
}

.splide {
  &-about {
    @extend %pb-4;
  }

  &-catalog {
    @extend %pb-4;
  }

  &-application {
    padding-bottom: 7rem;

    @media (max-width: $md) {
      padding-bottom: 4rem;
    }

    @media (max-width: $sm) {
      padding-bottom: 2.4rem;
    }
  }

  &-projects {
    @extend %pb-4;
  }

  &-blog {
    @extend %pb-4;
  }
}
