@@if (type === "about") {
  <div class="splide splide-marquee splide-about splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--about lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/about-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--about lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/about-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--about lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/about-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "catalog") {
  <div class="splide splide-marquee splide-catalog splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--catalog lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/catalog-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--catalog lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/catalog-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--catalog lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/catalog-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "application") {
  <div class="splide splide-marquee splide-application splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--application lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/application-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--application lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/application-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--application lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/application-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "projects") {
  <div class="splide splide-marquee splide-projects splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--projects lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/projects-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--projects lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/projects-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--projects lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/projects-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "blog") {
  <div class="splide splide-marquee splide-blog splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--blog lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/blog-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--blog lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/blog-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--blog lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/blog-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "aboutUs") {
  <div class="splide splide-marquee splide-about-us splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--about-us lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/about-us-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--about-us lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/about-us-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--about-us lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/about-us-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "ourProjects") {
  <div class="splide splide-marquee splide-our-projects splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--our-projects lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/our-projects-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--our-projects lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/our-projects-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--our-projects lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/our-projects-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "contacts") {
  <div class="splide splide-marquee splide-contacts splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--contacts lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/contacts-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--contacts lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/contacts-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--contacts lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/contacts-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "mistake") {
  <div class="splide splide-marquee splide-mistake splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--mistake lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/mistake-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--mistake lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/mistake-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--mistake lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/mistake-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "favourites") {
  <div class="splide splide-marquee splide-favourites splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--favourites lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/favourites-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--favourites lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/favourites-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--favourites lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/favourites-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}

@@if (type === "search") {
  <div class="splide splide-marquee splide-search splideMarquee">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--search lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/search-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--search lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/search-splide-img.svg" alt="img">
        </li>
        <li class="splide__slide splide-marquee__item">
          <img class="splide-marquee__img splide-marquee__img--search lazy" src="./assets/images/pixel.png" data-src="./assets/images/splide/search-splide-img.svg" alt="img">
        </li>
      </ul>
    </div>
  </div>
}