.splide-marquee {
  &__item {
    margin: 0 8rem;

    @media (max-width: $md) {
      margin: 0 4rem;
    }
  }

  &__img {
    height: 9.8rem;

    &--about {
      width: 37.1rem;
    }

    &--catalog {
      width: 40.9rem;
    }

    &--application {
      width: 81.6rem;
    }

    &--projects {
      width: 43.4rem;
    }

    &--blog {
      width: 23.7rem;
    }

    &--about-us {
      width: 61.7rem;
    }

    &--our-projects {
      width: 74rem;
    }

    &--contacts {
      width: 49.2rem;
    }

    &--mistake {
      width: 58.8rem;
    }

    &--favourites {
      width: 54.8rem;
    }
  }
}

.splide {
  &-about {
    @extend %pb-4;
  }

  &-catalog {
    @extend %pb-4;
  }

  &-application {
    padding-bottom: 7rem;

    @media (max-width: $md) {
      padding-bottom: 4rem;
    }

    @media (max-width: $sm) {
      padding-bottom: 2.4rem;
    }
  }

  &-projects {
    @extend %pb-4;
  }

  &-blog {
    @extend %pb-4;
  }

  &-about-us {
    @extend %pb-4;
  }

  &-our-projects {
    @extend %pb-4;
  }

  &-contacts {
    @extend %pb-4;
  }

  &-mistake {
    @extend %pb-4;
  }

  &-favourites {
    @extend %pb-4;
  }
}
