.form {
  &--smaller {
    max-width: 45.6rem;
  }

  > * {
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;

    > * {
      &:not(:last-child) {
        padding-bottom: 3.2rem;
      }
    }
  }

  &__item {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 0 1.2rem 1.2rem;
    border-bottom: 0.1rem solid var(--input-border-bottom);

    @extend %text-18;
  }

  &__placeholder {
    position: absolute;
    top: 0;
    left: 0.5rem;
    cursor: text;

    @extend %text-18;

    transition: all 0.3s;

    sup {
      color: var(--orange);
    }
  }

  &__agree-text {
    @extend %text-12;
  }
}

.form__item.is-active {
  .form__placeholder {
    left: 0;
    top: -2.5rem;
    color: var(--orange);
    font-size: 1.2rem;
  }
}
