html {
  height: 100%;

  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 500 * 10);
  }

  @media (max-width: 500px) {
    font-size: calc(100vw / 320 * 10);
  }
}

body {
  --text-color: #1a1817;
  --bgc-color: #fff;
  --gray: #bbb;
  --gray2: #f2f2f2;
  --orange: #e09654;
  --aside-bgc: rgba(255, 255, 255, 0.6);
  --position-block-bgc: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  --burger-menu-bgc: rgba(255, 255, 255, 0.6);
  --contacts-info-bg: #f9f9f9;
  --input-border-bottom: #1a1817;
  --search-color-placeholder: #999;

  color: var(--text-color);
  background-color: var(--bgc-color);

  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $font-family;
}

body.dark-theme {
  --text-color: #fff;
  --bgc-color: #1a1817;
  --gray2: #333;
  --aside-bgc: rgba(26, 24, 23, 0.6);
  --position-block-bgc: linear-gradient(270deg, #1a1817 0%, rgba(26, 24, 23, 0) 100%);
  --burger-menu-bgc: rgba(0, 0, 0, 0.6);
  --contacts-info-bg: #333;
  --input-border-bottom: #333;

  color: var(--text-color);
  background-color: var(--bgc-color);

  .catalog-tabs__item-img {
    &:hover {
      .catalog-tabs__item-text {
        background-color: var(--bgc-color);
      }
    }
  }

  .btn__where {
    &:hover {
      color: var(--text-color);
      border: 0.2rem solid var(--text-color);
      background-color: var(--bgc-color);
    }
  }

  .btn__application {
    color: var(--text-color);
    background-color: var(--bgc-color);
    border: 0.2rem solid var(--text-color);
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.header {
  flex-shrink: 0;
}

.main {
  position: relative;
  flex: 1 0 auto;
  padding-top: 9rem;
}

.footer {
  z-index: 10;
  flex-shrink: 0;
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;

  table & {
    max-width: none;
  }
}

input {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 141.6rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.title {
  @extend %text-40;
  @extend %pb-4;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  @extend %text-18;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: transparent;

  @media (max-width: $lg) {
    padding: 1.6rem 4.5rem;
  }

  // прозрачная кнопка
  &__where {
    display: block;
    width: 27rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.6rem 6rem;
    border: 0.2rem solid var(--text-color);
    color: var(--text-color);
    transition: all 0.5s;

    &:hover {
      color: #fff;
      border: 0.2rem solid transparent;
      background-color: var(--text-color);
    }

    @media (max-width: $sm) {
      width: 23.5rem;
      padding: 1.6rem 2rem;
    }
  }

  &__application {
    padding: 1rem 6rem;
    background-color: var(--text-color);
    color: #fff;
    border: 0.2rem solid transparent;
    transition: all 0.5s;

    &:hover {
      color: var(--text-color);
      background-color: #fff;
      border: 0.2rem solid var(--text-color);
    }

    @media (max-width: $sm) {
      padding: 1rem 3rem;
    }
  }
}

// кнопка со стрелкой вправо
.arrow-link {
  display: inline-flex;
  align-items: center;

  @extend %text-18;
  font-weight: 500;
  color: var(--text-color);

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.3s;
    fill: var(--text-color);
  }

  span {
    padding-right: 1.6rem;
  }

  &:hover {
    .arrow-link__icon {
      transform: translateX(0.5rem);
    }
  }
}

// кнопка со стрелкой влево
.arrow-back {
  display: inline-flex;
  align-items: center;

  @extend %text-18;
  font-weight: 500;
  color: var(--text-color);

  span {
    padding-left: 1.6rem;
  }

  &:hover {
    .arrow-back__icon {
      transform: translateX(-0.5rem);
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.3s;
    fill: var(--text-color);
  }
}

.no-scroll {
  overflow: hidden;
}

.progress {
  padding: 15rem 0 7.5rem;

  @media (max-width: $sm) {
    padding: 12rem 0 4rem;
  }

  &__ul {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 2.4rem;

    @media (max-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    @extend %text-18;
    font-weight: 700;
    text-transform: uppercase;
  }
}

// кнопка закрытия на странице избранное
.favourite-btn {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  border: none;
  background-color: #f2f2f2;
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__close-icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: #818181;
    pointer-events: none;
  }

  &__heart-icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: #1a1817;
    pointer-events: none;
  }
}