html {
  height: 100%; // Footer at bottom

  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 500 * 10);
  }

  @media (max-width: 500px) {
    font-size: calc(100vw / 320 * 10);
  }
}

body {
  --text-color: #1a1817;
  --bgc-color: #fff;
  --gray: #bbb;
  --gray2: #f2f2f2;
  --orange: #e09654;

  color: var(--text-color);
  background-color: var(--bgc-color);
  display: flex; // Footer at bottom
  flex-direction: column; // Footer at bottom
  height: 100%; // Footer at bottom
  font-family: $font-family;
}

body.dark-theme {
  --text-color: #fff;
  --bgc-color: #1a1817;
  --black2: #333;

  color: var(--text-color);
  background-color: var(--bgc-color);

  .arrow-link__icon {
    fill: var(--text-color);
  }

  .about-grid__icon {
    fill: var(--text-color);
  }

  .about-grid__item {
    background-color: var(--black2);
  }

  .catalog-tabs__item-img {
    &:hover {
      .catalog-tabs__item-text {
        background-color: var(--bgc-color);
      }
    }
  }

  .btn__where {
    &:hover {
      color: #fff;
      border: 0.2rem solid #fff;
      background-color: var(--bgc-color);
    }
  }

  .btn__application {
    color: #fff;
    background-color: var(--bgc-color);
    border: 0.2rem solid #fff;
  }

  .footer__developer-icon {
    fill: #fff;
  }

  .socials__social-icon {
    fill: #fff;
  }

  .application__info {
    color: var(--bgc-color);
  }

  .application__form-text {
    color: var(--bgc-color);
  }

  .application__form-placeholder {
    color: var(--bgc-color);
  }

  .application__form-input {
    border-bottom: 0.1rem solid var(--bgc-color);
  }

  .main-page__aside {
    background: rgba(26, 24, 23, 0.6);
  }

  .main-page__callback-btn {
    color: #fff;
  }

  .main-page__position-block {
    background: linear-gradient(270deg, #1a1817 0%, rgba(26, 24, 23, 0) 100%);
  }

  .main-page__position-icon {
    fill: #fff;
  }

  .main-page__logo {
    path {
      fill: #fff;
    }
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.header {
  flex-shrink: 0; // Footer at bottom
}

.main {
  position: relative;
  flex: 1 0 auto; // Footer at bottom
}

.footer {
  z-index: 10;
  flex-shrink: 0; // Footer at bottom
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;

  table & {
    max-width: none;
  }
}

input {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 141.6rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.title {
  @extend %text-40;
  @extend %pb-4;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  @extend %text-18;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: transparent;

  @media (max-width: $lg) {
    padding: 1.6rem 4.5rem;
  }

  // прозрачная кнопка
  &__where {
    display: block;
    width: 27rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.6rem 6rem;
    border: 0.2rem solid var(--text-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s, border 0.5s;

    &:hover {
      color: #fff;
      border: 0.2rem solid transparent;
      background-color: var(--text-color);
    }

    @media (max-width: $sm) {
      width: 23.5rem;
      padding: 1.6rem 2rem;
    }
  }

  &__application {
    padding: 1rem 6rem;
    background-color: var(--text-color);
    color: #fff;
    border: 0.2rem solid transparent;
    transition: all 0.3s;

    &:hover {
      color: var(--text-color);
      background-color: #fff;
      border: 0.2rem solid var(--text-color);
    }

    @media (max-width: $sm) {
      padding: 1rem 3rem;
    }
  }
}

// кнопка со стрелкой
.arrow-link {
  display: inline-flex;
  align-items: center;

  @extend %text-18;
  font-weight: 500;
  color: var(--text-color);

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.3s;
  }

  span {
    padding-right: 1.6rem;
  }

  &:hover {
    .arrow-link__icon {
      transform: translateX(0.5rem);
    }
  }
}
