.breadcrumbs {
  @extend %text-16;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.6rem 0;
  border-top: 0.1rem solid var(--gray);

  > * {
    &:not(:last-child) {
      position: relative;
      margin-right: 1rem;
      padding-right: 1.5rem;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: '-';
        color: var(--gray);
      }
    }
  }

  &__link {
    color: var(--gray);
    transition: color 0.3s;

    &:hover {
      color: var(--text-color);
    }
  }
}

.breadcrumbs__item.is-active {
  color: var(--text-color);
}
