.form-sort {
  color: var(--gray3);

  @extend %text-12;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > * {
      &:not(:last-child) {
        padding-right: 3.2rem;
      }
    }
  }

  &__select-btn {
    display: none;
    color: var(--text-color);

    @media (max-width: $lg) {
      display: flex;
      align-items: center;
    }
  }

  &__select-dropdown {
    @media (max-width: $lg) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--bgc-color);
      z-index: 10;
      transition: opacity 0.3s;
      padding: 1rem;
      border: 0.1rem solid var(--gray2);
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }

    > * {
      &:not(:last-child) {
        padding-right: 3.2rem;

        @media (max-width: $lg) {
          padding-right: 0;
          padding-bottom: 1rem;
        }
      }
    }
  }

  &__select-icon {
    display: none;
    width: 0.6rem;
    height: 0.6rem;
    fill: var(--text-color);
    margin-left: 1rem;
    transition: transform 0.3s;

    @media (max-width: $lg) {
      display: block;
    }
  }

  &__title {
    @media (max-width: $sm) {
      display: none;
    }
  }

  &__wrap-inner {
    position: relative;
  }
}

.form-sort__wrap-inner.is-active {
  .form-sort__select-dropdown {
    opacity: 1;
    pointer-events: auto;
  }

  .form-sort__select-icon {
    transform: rotate(180deg);
  }
}

.radio-btn {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.radio-btn:checked + .radio-btn-text {
  color: var(--text-color);
}
