.product-tabs {
  @extend %pb-8;

  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    width: 3rem;
    box-shadow: 0 0.1rem 0.8rem 0 rgb(34 60 80 / 20%);
    top: 0;
    margin-top: 0;
    height: 100%;

    &::after {
      font-size: 1.5rem;
    }

    @media (min-width: 1025px) {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  &__nav {
    display: flex;
    background-color: var(--gray2);
  }

  &__btn {
    @extend %text-24;
    color: var(--gray3);
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    padding: 2rem 3.5rem;
    text-align: center;

    width: 40rem; // *
  }

  &__content {
    @extend %text-18;
    @extend %mt-4;
  }

  &__content-item {
    display: none;
  }
}

.product-tabs__btn.is-active {
  background: var(--bgc-color);
  border-bottom: 0.4rem solid var(--text-color);
}

.product-tabs__content-item.show {
  display: block;
}

.fadeTab {
  animation: fadeTab 0.5s;
}

@keyframes fadeTab {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}
