.contacts-page {
  &__title {
    text-align: center;
  }

  &__info-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.6rem;

    @extend %pb-8;

    @media (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }

  &__form-block {
    > * {
      &:not(:last-child) {
        padding-bottom: 2.4rem;
      }
    }
  }

  &__form-title {
    @extend %text-32;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__form-descr {
    @extend %text-18;
  }
}
