.burger {
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  @media (max-width: $sm) {
    height: 1.2rem;
  }

  &__item {
    display: block;
    width: 7rem;
    height: 0.3rem;
    background-color: var(--text-color);

    @media (max-width: $sm) {
      width: 3.7rem;
    }

    &--small {
      width: 3.2rem;

      @media (max-width: $sm) {
        width: 1.7rem;
      }
    }
  }
}
