.catalog-category {
  &__section-category {
    @extend %pb-8;
  }

  &__title {
    text-align: center;
  }

  &__wrap {
    display: flex;

    > * {
      &:not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }

  &__start {
    width: 33.6rem;
  }

  &__end {
    width: 107.4rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    &:not(:last-child) {
      @extend %pb-8;
    }
  }
}
