<article class="card @@classCard">
  <div class="card__wrap">
    <div class="card__slider-block">
      <div class="swiper card__slider-top galleryTop">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./assets/images/pixel.png" data-srcset="@@webpImg1" type="image/webp">
              <img class="lazy" src="./assets/images/pixel.png" data-src="@@jpgImg1" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./assets/images/pixel.png" data-srcset="@@webpImg2" type="image/webp">
              <img class="lazy" src="./assets/images/pixel.png" data-src="@@jpgImg2" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./assets/images/pixel.png" data-srcset="@@webpImg3" type="image/webp">
              <img class="lazy" src="./assets/images/pixel.png" data-src="@@jpgImg3" alt="img">
            </picture>
          </div>
        </div>
        <div class="swiper-button-next card__slider-btn">
          <svg class="card__slider-icon" viewBox="0 0 100 100">
            <use xlink:href="./assets/images/sprite.svg#gallery-next"></use>
          </svg>
        </div>
        <div class="swiper-button-prev card__slider-btn">
          <svg class="card__slider-icon" viewBox="0 0 100 100">
            <use xlink:href="./assets/images/sprite.svg#gallery-prev"></use>
          </svg>
        </div>
      </div>
      <div class="swiper card__slider-bottom galleryBottom">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./assets/images/pixel.png" data-srcset="@@webpImg1" type="image/webp">
              <img class="lazy" src="./assets/images/pixel.png" data-src="@@jpgImg1" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./assets/images/pixel.png" data-srcset="@@webpImg2" type="image/webp">
              <img class="lazy" src="./assets/images/pixel.png" data-src="@@jpgImg2" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./assets/images/pixel.png" data-srcset="@@webpImg3" type="image/webp">
              <img class="lazy" src="./assets/images/pixel.png" data-src="@@jpgImg3" alt="img">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="card__content-block">

      <div class="card__info card__content-item">
        <h1 class="title card__info-title">@@title</h1>

        @@if (isDescr === true) {
          <div class="card__info-subtitle">Описание проекта</div>
          <div class="card__info-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius a velit vitae sollicitudin. Sed vitae risus est. Phasellus vulputate quam non diam condimentum vehicula. Duis feugiat orci egestas, interdum dolor vel, tincidunt augue. Morbi non magna nunc. Duis dapibus commodo ante at convallis. Fusce a odio eu est euismod congue vel ac arcu. Nullam sit amet tempus purus. Fusce volutpat congue nulla vitae interdum. Aenean eget pulvinar velit.
          </div>
        }

        @@if (isArticle === true) {
          <div class="card__article">арт. 656543153463</div>
        }

      </div>

      @@if (isSet === true) {
        <div class="card__set card__content-item">
          <div class="card__set-title">Стандартный комплект</div>
          <ul class="card__set-list">
            <li class="card__set-item">Коробка т/скопич эмаль с уплотнителем Эстэль</li>
            <li class="card__set-item">Наличник т/скопич эмаль</li>
          </ul>
          <p class="card__set-text">Так же возможно изготовления нестандартных размеров - просто свяжитесь с нашим специалистом для уточнения информации.</p>
        </div>
      }

      @@if (isDate === true) {
        <div class="card__date card__content-item">
          <span class="card__date-title">Дата</span>
          <span class="card__date-value">февраль 2021</span>
        </div>
      }

      @@if (isColor === true) {
        <div class="card__color card__content-item">
          <div class="card__color-title">Цвет:</div>
          <a href="#" class="card__color-link">Посмотрите всю палитру цветов</a>
        </div>
      }

      @@if (isBudget === true) {
        <div class="card__price card__content-item">
          <div class="card__price-title">@@priceTitle</div>
          <div class="card__price-value card__project-price-value">@@price</div>
          <button class="btn btn__application">@@btnText</button>
        </div>
      }

      @@if (isPrice === true) {
        <div class="card__price card__content-item">
          <div class="card__price-title">@@priceTitle</div>
          <div class="card__price-wrap">
            <div class="card__price-inner">
              <div class="card__price-value">@@price</div>

              @@if (isOldPrice === true) {
                <div class="card__price-old-value">от 400 BYN</div>
              }

            </div>
            <button class="btn btn__application">@@btnText</button>
          </div>
        </div>
      }

    </div>
  </div>
</article>
