.card {
  @extend %pb-8;

  &__wrap {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2.4rem;

    @media (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }

  &__slider-block {
    width: 57.6rem;
    position: relative;

    @media (max-width: $lg) {
      display: flex;
      width: calc(100vw - 3.2rem);
    }

    @media (max-width: $md) {
      display: unset;
    }

    img {
      @extend %cover;
    }

    > * {
      &:not(:last-child) {
        padding-bottom: 2.4rem;

        @media (max-width: $lg) {
          padding-bottom: 0;
          padding-right: 2.4rem;
        }

        @media (max-width: $md) {
          padding-right: 0;
          padding-bottom: 1.5rem;
        }
      }
    }

    .swiper-pagination-progressbar {
      background: var(--gray2);
    }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: var(--gray);
    }

    .swiper-pagination-progressbar.swiper-pagination-horizontal {
      height: 0.8rem;
      left: 0;
      top: unset;
      bottom: 0;
    }

    .swiper-pagination-progressbar.swiper-pagination-vertical {
      left: unset;
      right: 0;

      @media (max-width: $md) {
        right: -1rem;
      }
    }
  }

  &__slider-top {
    height: 57.6rem;

    @media (max-width: $lg) {
      height: 48.2rem;
      width: 100%;
    }

    @media (max-width: $sm) {
      height: 28.2rem;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      content: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      height: 100%;
      top: 0;
      background-color: rgba(26, 24, 23, 0.5);
      width: 4rem;
      opacity: 0;
      pointer-events: none;
      transition: all 0.5s;
      margin-top: -2.5rem;

      @media (max-width: $lg) {
        margin-top: 0;
      }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 0;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      left: 0;
    }

    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__slider-bottom {
    height: 17.6rem;

    @media (max-width: $lg) {
      height: 48.2rem;
      width: 100%;
    }

    @media (max-width: $md) {
      height: 16.2rem;
    }

    @media (max-width: $sm) {
      height: 10.2rem;
    }

    .swiper-slide {
      opacity: 0.4;
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  &__slider-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: #fff;
  }

  &__content-block {
    @extend %text-16;

    > * {
      padding: 4rem 0;

      &:not(:last-child) {
        border-bottom: 0.1rem solid var(--gray);
      }

      @media (max-width: $sm) {
        padding: 2rem 0;
      }
    }
  }

  &__content-item {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__info-subtitle {
    text-transform: uppercase;
    font-weight: 700;

    &:not(:last-child) {
      padding-bottom: 2.4rem;
    }
  }

  &__info-descr {
    color: var(--gray);
    font-weight: 400;
  }

  &__date {
    > * {
      &:not(:last-child) {
        padding-right: 1.5rem;
      }
    }
  }

  &__date-title {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__date-value {
    font-weight: 400;
  }

  &__price-title {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.6rem;
  }

  &__price-value {
    @extend %text-40;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__project-price-value {
    &:not(:last-child) {
      @extend %pb-4;
    }
  }

  &__article {
    color: var(--gray3);
  }

  &__set {
    > * {
      &:not(:last-child) {
        padding-bottom: 2rem;
      }
    }
  }

  &__set-title {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__set-list {
    color: var(--gray3);
  }

  &__set-item {
    position: relative;
    padding-left: 2.5rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '—';
    }
  }

  &__price-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -1rem;

    > * {
      margin-bottom: 1rem;

      &:not(:last-child) {
        padding-right: 3.8rem;
      }
    }
  }

  &__price-inner {
    display: flex;
    align-items: center;

    > * {
      &:not(:last-child) {
        padding-right: 1rem;
      }
    }
  }

  &__price-old-value {
    text-decoration: line-through;
  }

  &__color {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1rem;

    > * {
      margin-bottom: 1rem;

      &:not(:last-child) {
        padding-right: 2.4rem;
      }
    }
  }

  &__color-title {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__color-link {
    text-decoration: underline;
  }
}

@media (hover: none) {
  .card__slider-top {
    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 0;
        pointer-events: auto;
      }
    }
  }
}

.project-card {
  @extend %mb-8;
  border-bottom: 0.1rem solid var(--gray);
}

.product-card {
  .card__info-title {
    padding-bottom: 1.6rem;
  }

  .card__content-item {
    &:first-child {
      padding-bottom: 1.6rem;
    }
  }
}