.contacts-info {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem 11.1rem;
  align-items: center;
  background-color: var(--contacts-info-bg);
  padding: 2.2rem 3.2rem 4rem;
  max-width: 69.6rem;

  @media (max-width: $lg) {
    height: auto;
    max-width: 100%;
  }

  @media (max-width: $md) {
    grid-template-columns: 1fr;
    padding: 2.2rem;
  }

  .socials {
    padding-left: 10rem;

    @media (max-width: $md) {
      padding-left: 0;
    }
  }

  &__start {
    > * {
      &:not(:last-child) {
        padding-bottom: 4rem;
      }
    }
  }

  &__list {
    @extend %text-16;
    font-weight: 400;

    > * {
      &:not(:last-child) {
        padding-bottom: 3.2rem;
      }
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--gray);
    margin-right: 1.6rem;
  }

  &__tel {
    @extend %text-18;
    font-weight: 700;
  }

  &__end {
    @media (max-width: $md) {
      display: none;
    }
  }

  &__img {
    width: 16rem;
    height: 16rem;
  }
}
