.application {
  @extend %pb-8;

  background: url('../../assets/images/application/application-bg.jpg') no-repeat 50% / cover;

  &__title {
    font-size: 3.2rem;
    line-height: 3.9rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1.6rem;

    @media (max-width: $sm) {
      font-size: 2.4rem;
      line-height: 2.9rem;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 6rem;
    color: #1a1817;

    @media (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    @extend %text-18;
    font-weight: 400;
  }
}
