.application {
  @extend %pb-8;

  background: url('../../assets/images/application/application-bg.jpg') no-repeat 50% / cover;

  &__title {
    font-size: 3.2rem;
    line-height: 3.9rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1.6rem;

    @media (max-width: $sm) {
      font-size: 2.4rem;
      line-height: 2.9rem;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 6rem;
    color: #1a1817;

    @media (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    @extend %text-18;
    font-weight: 400;
  }

  &__form {
    max-width: 45.6rem;

    > * {
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }

  &__form-fields {
    display: flex;
    flex-direction: column;

    > * {
      &:not(:last-child) {
        padding-bottom: 3.2rem;
      }
    }
  }

  &__form-item {
    position: relative;
  }

  &__form-input {
    width: 100%;
    padding: 0 1.2rem 1.2rem;
    border-bottom: 0.1rem solid #1a1817;

    @extend %text-18;
  }

  &__form-placeholder {
    position: absolute;
    top: 0;
    left: 0.5rem;
    cursor: text;

    @extend %text-18;

    transition: all 0.3s;

    sup {
      color: var(--orange);
    }
  }

  &__form-text {
    @extend %text-12;
  }
}

.application__form-item.is-active {
  .application__form-placeholder {
    left: 0;
    top: -2.5rem;
    color: var(--orange);
    font-size: 1.2rem;
  }
}
