.blog-page {
  &__articles {
    @extend %pb-8;
  }

  &__articles-title {
    text-align: center;
  }

  &__articles-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @extend %pb-4;

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }
}
