.blog-article {
  &__img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 2.4rem;

    @media (max-width: $lg) {
      height: 36rem;
    }
  }

  &__title {
    @extend %text-24;
    max-width: 33.6rem;
  }

  &__descr {
    @extend %text-16;
    padding-bottom: 1.6rem;
  }

  &__content-header {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.4rem;

    > * {
      &:not(:last-child) {
        padding-bottom: 1rem;
      }
    }
  }

  &__date {
    @extend %text-16;
    opacity: 0.7;
  }
}
